@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="container mt-4 col-md-6 text-center">
        <i class="bi bi-book-half" style="font-size: 8rem"></i>
        <h1 class="mb-3">Bem-vindo à Biblioteca!</h1>
        
        <h5>Explore nossa coleção de livros, descubra novos autores e mergulhe em diferentes gêneros literários.</h5>
    </div>
</div>